.home-grid{
    min-height: 1vh;
    display: grid;
    position: relative;
    padding: 2rem;
    row-gap: 2.5rem;
    column-gap: 2.1rem;
    background-color: #f8f9fa;
    grid-template-columns: 2fr 1fr 0.1fr;
    grid-template-areas:
    "acc tk"
    "tr  tk"
}
